
body {

  /*margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

*/
font-family: sans-serif;
background-color: #eeeeee;
}

.navbar {
  font-family: sans-serif;
  margin: 0px;
  font-size: 18px;
}

.navbar-toggler {
    border-color: #DDD;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
}

fieldset {
  background-color: #eeeeee;
  margin: 5px;

}

.legendCard {
  background-color: #26082F;
  color: white;
  padding: 5px 5px 5px;
  margin-right: 17px;
  margin-left: 17px;

}

legend {
  background-color: #26082F;
  color: white;
  padding: 5px 5px 5px;
  text-align: center;

}

.upload{
  margin-left: 20px;
}

.p{
margin-left: 15px;
margin-right: 15px;
padding-top: 10px;

}

.button{

  float: right;
  margin-left: -18px;
}

.select{
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

label{
  margin-right: 10px;
}

.err{
  color: #FF0000;
}

 .my-select {
    background-color: $light-brown;
    color: $dark-grey;
    border: 0 none;
    border-radius: 20px;
    padding: 2px 20px;
    margin-top: 10px;

  }

 .outline{
  border: 2px solid black;
  outline: #4CAF50 solid 10px;
  margin: auto;  
  padding: 20px;
}


 .my-button {
    background-color: $light-brown;
    color: $dark-grey;
    border: 0 none;
    border-radius: 100px;
    padding: 6px 30px;
    margin-top: 10px;

  }