body {
  font-family: sans-serif;
  background: #f0f0f0;
  color: black;
}

.navbar-brand
{
  font-family: sans-serif;
  color:#B5B2A8;
  font-size: 16px;
  margin-left: 20px;

}

.navbar {
  font-family: Georgia, serif;
  margin: 0px;

  font-size: 30px;
  color: #B5B2A8;
}

.navbar-toggler {
  border-color: #DDD;
}


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}


.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 19px;
  font-weight: 400;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
  color: #B5B2A8;
}

.table {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;

}

table.scrolldown {
  width: 100%;

}

/* To display the block as level element */
table.scrolldown tbody, table.scrolldown thead {
  display: block;
} 


table.scrolldown tbody {

  /* Set the height of table body */
  height: 200px; 

  /* Set vertical scroll */
  overflow-y: auto;

  /* Hide the horizontal scroll */
  overflow-x: hidden; 
}

tbody { 
  border-top: 2px solid black;
}


td, th {
  text-align:center;
}

.thide table thead{
    display:none;
}

.my-select {
  background-color: $light-brown;
  color: $dark-grey;
  border: 0 none;
  border-radius: 20px;
  padding: 2px 20px;
  margin-top: 10px;

}

.my-select2 {
  background-color: #f0f0f0;
  color: $dark-grey;
  border: 0 none;
  border-radius: 20px;
  padding: 8px 20px;
  margin-top: 10px;


}
.my-select3 {
  background-color: #f0f0f0;
  color: $dark-grey;
  border: 0 none;
  border-radius: 20px;
  padding: 8px 20px;
  margin-top: 10px;
  text-align: center;

}

.my-select4 {
  background-color: $light-brown;
  color: $dark-grey;
  border: 0 none;
  border-radius: 20px;
  padding: 8px 20px;
  margin-top: 20px;
  text-align: center;

}